:root {
    /* Paleta de Colores */
    --color-principal: #3498db; /* Azul */
    --color-principal-hover: #2980b9; /* Azul oscuro */
    --color-letras-fondo-claro: #2c3e50; /* Gris oscuro */
    --color-letras-botones: #ecf0f1; /* Blanco humo */
  }