/* Cambiar el color de fondo de la tabla */
#productosTable {
    background-color: #f9f9f9;
    width: 100%;
    border-collapse: collapse;
}

/* Cambiar el color de fondo de las filas */
#productosTable tbody tr {
    background-color: #ffffff;
}

/* Cambiar el color de fondo de las filas alternas */
#productosTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Cambiar el color de fondo del encabezado */
#productosTable thead {
    background-color: #333333;
    color: #ffffff;
}

/* Centrar el texto en las celdas */
#productosTable th, #productosTable td {
    text-align: center;
    padding: 8px;
    vertical-align: middle; /* Asegurarse de que el contenido esté centrado verticalmente */
}

/* Cambiar el color de los enlaces */
#productosTable a {
    color: #007bff;
    text-decoration: none;
}

/* Cambiar el color de los botones */
#productosTable button {
    background: none; /* Hacer el fondo transparente */
    border: none;
    padding: 5px;
    cursor: pointer;
    margin: 2px;
}

/* Asegurarse de que los botones de acciones estén alineados horizontalmente */
#productosTable td .action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px; /* Espacio entre los botones */
}