/* Estilos para la tabla de inventario */
#inventarioTable {
    background-color: #f9f9f9;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Cambiar el color de fondo de las filas */
#inventarioTable tbody tr {
    background-color: #ffffff;
}

/* Cambiar el color de fondo de las filas alternas */
#inventarioTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Cambiar el color de fondo del encabezado */
#inventarioTable thead {
    background-color: #333333;
    color: #ffffff;
}

/* Centrar el texto en las celdas */
#inventarioTable th, #inventarioTable td {
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
}

/* Cambiar el color de los enlaces */
#inventarioTable a {
    color: #007bff;
    text-decoration: none;
}

/* Asegurarse de que los botones de acciones estén alineados horizontalmente */
#inventarioTable td .action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px; /* Espacio entre los botones */
}

/* Estilos para el campo de búsqueda */
.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}