.clientes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.clientes-list h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cliente-item {
    background-color: #9E3DA5;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}

.cliente-item:hover {
    transform: scale(1.05);
}

.cliente-nombre, .cliente-dni, .cliente-telefono, .cliente-email, .cliente-fecha-alta, .cliente-estado {
    margin: 5px 0;
}

.cliente-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-edit {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-edit:hover {
    background-color: #218838; /* Tonalidad más oscura de verde */
}

.btn-delete {
    background-color: #dc3545; /* Rojo */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #c82333; /* Tonalidad más oscura de rojo */
}
