.modal-inventario {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-inventario {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-inventario {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-inventario:hover,
.close-inventario:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-inventario {
    display: flex;
    flex-direction: column;
}

.label-inventario {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-inventario {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-inventario {
    color: red;
    margin-bottom: 10px;
}

.button-inventario {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-inventario:hover {
    background-color: #0056b3;
}